*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Labs/Factorizer/target/
/Labs/RockPaperScissorsStep1/target/
/Labs/InterestCalculator/target/
/classroom/PrimeFinder/target/
/classroom/methodSamples/target/
/classroom/IlyaWindowsMaster/target/
/classroom/Arrays/target/
/classroom/FileIOSample/target/
/classroom/UnitOneSkillCheck/target/
/PBD/05-PBDs/05-PBDs/target/
/classroom/GuessMyNumberWarmUp/target/
/PBD/07_PBD/target/
/classroom/RockScissorsPaperReFactor/target/
/classroom/RPSRefactor/target/
/classroom/ObjectsExamples/target/
/Labs/ClassModeling/target/
/classroom/ObjectExperiments/target/
/classroom/UnitTests/target/
/classroom/CollectionExample/target/
/classroom/MapExample/target/
/classroom/FunctionOverloadExample/target/
/Labs/StateCapitals/target/
/PBD/PBD_Arrays/target/
/Labs/RefactorIntoObjects/target/
/Labs/SimpleCalculatorLab/target/
/PBD/PBD_ArrayLists/target/
/classroom/EncodingDecodingAKASerialization/target/
/PBD/PBD_NestedLoops/target/
/Labs/ConsoleIOLab/target/
/PBD/PBDsRecords/target/
/Labs/StudentQuizGrades/target/
/Labs/SimpleCalcRfConsoleIO/target/
/classroom/ClassRoster/target/
/Labs/Drills/target/
/classroom/WarmUpUsingHashmaps616/target/
/Labs/AddressLab/target/
/Labs/Drills_Conditionals/target/
/Labs/Drills_Logic/target/
/classroom/Inheritance/target/
/Labs/DVDLab/target/
/classroom/RPGSatchel/target/
/Labs/GameBot/target/
/Labs/ShapesAndPerimeters/target/
/Labs/ProductInventory/target/
/Labs/BankManager/target/
/Labs/Drills_Loops/target/
/PBD/PBD_FileIO/target/
/Labs/FlooringMasteryLab/target/
/Labs/Drills_Strings/target/
/classroom/LambdasExample/target/
/Labs/AddressBookLambda/target/
/Labs/DVDLamdbas/target/
/classroom/DataStructures/target/
/PBD/PBD_14_Sorting/target/
/PBD/PBD_GUI/target/
/classroom/mavenExample/target/
/classroom/Olympian/target/
/Labs/DVDLibraryV3/target/
/Labs/DVDLibraryV3/FlooringMasteryLab/target/
/Labs/FlooringMasteryLabSpring2/target/
/Labs/FlooringMasteryLabSpring/target/
/classroom/RSVP/target/
/classroom/SimpleContacts/target/
/classroom/mavenproject2/HelloMVCSpringMVCWebapp/target/
/Labs/LuckySevensWebApp/target/